.info:hover {
    cursor: pointer;
}

.inner-modal {
    position: relative;
}

.inner-modal .number {
    display: block;
}

.exit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    font-weight: 800;
}

.exit:hover {
    cursor: pointer;
}

.btn-block {

}